<!DOCTYPE html>
<html>
  <body style="background-color:powderblue;"></body>
<head>
	<title>Apply form!</title>
  <link rel="stylesheet" href="public\css\styleA.css" type="text/css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">CORY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="views\index.ejs" style="color: white;text-decoration: underline;">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer" style="color: white;text-decoration: underline;">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;text-decoration: underline;">
            Language
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Hindi</a>
        </li>
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="public\images\user (1).png" height=30px>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Previous Job</a>
            <a class="dropdown-item" href="#">Current Job</a>
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Log out</a>
        </li>
      </form>
    </div>
  </nav>
	<h1>Kindly fill this form!</h1>
	<form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br><br>
  <label for="lname">Mobile no:</label><br>
  <input type="number" id="lname" name="lname"><br><br>
  <label for="lname">Aadhar card no:</label><br>
  <input type="number" id="lname" name="lname"><br><br>
  <input type="submit" class="btn btn-info" value="Submit"><br>
</form>

<!--footer-->
<footer id="footer">
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSeRyJeHINJSXEXyjgqbaLxVMF4kqrjkBSBz_ehMiIVtqgq5BA/viewform">Help & Support</a></h5>

        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Contact</h5><br>
          <p>Email: xyz21@gmail.com</p>
          <p>Helpline No.- 1800 225588</p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5><br>
          <p>Developed by Code Linguistics, from one section of the society to another section. </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Terms & Conditions</h5><br>
           <p>Privacy Policy</p>
           <p>Copyright Policy</p>
           <p>Code of Conduct</p>
          
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-dark" >CORY.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</body>
</html>